RUST_LOG=debug,sea_orm=info,sqlx=warn
DATABASE_URL=postgresql://localhost:5432/local
S3_BUCKET_NAME=local
S3_BUCKET_REGION=local
S3_BUCKET_ENDPOINT=http://localhost:8081
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_SESSION_TOKEN=local
ADMIN_PASSWORD=dev
STRIPE_SECRET=
STRIPE_PUBLIC=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
RENDER_SERVICE_URL=http://127.0.0.1:8090
CORS_ORIGINS=https://plus-admin.polyfrost.org,http://localhost:3000,https://store.polyfrost.org
